extends layout
block content

	h1 All movies in your watchlist

	each movie in movie_list

		div.card.mb-3
			div.card-body
				h5.card-title
					a(href= movie.url, title= movie.title) #{movie.title} (#{movie.release_year_formatted})
				h6.card-subtitle.mb-2.text-muted Directed by 
					a(href= movie.director.url, title= movie.director.name) #{movie.director.name}
				p.card-text #{movie.plot_synop}

	else
		p There are no movies. 
			a(href='/catalog/movie/create') Click here to create a new movie